@import '../global.scss';

.navbar{
    padding: 0px 30px;
    @include flex-align-center;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 4px #00000026;
    img{
        width: 120px;
        margin-right: 20px;
    }

    div{
        h1{
            font-size: 28px;
            margin: 0px;
            font-weight: 500;
        }
    }    
}
.employee{
    @include flex;
    article{
        width: 70%;
    }
    .employee-details{
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        p{
            text-decoration: underline;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        img{
            width: 50%;
        }
    }
    article{
        margin: 30px;
        .article-heading{
            font-size: 20px;
            padding: 10px 0px;
            padding-bottom: 25px;
            font-weight: 700;
        }
        .tableContainer{
            width: 100%;
            .tableheading{
                font-weight: 700;
            }
        }
    }

}
